<h1>Enter your parcel information below</h1>
<form action="calculate">
  <div class="form-group">
    <label for="length">Enter the parcel length</label>
    <input type="text" name="length" class="form-control">
    <br>
    <label for="width">Enter the parcel width</label>
    <input type="text" name="width" class="form-control">
    <br>
    <label for="height">Enter the parcel height</label>
    <input type="text" name="height" class="form-control">
    <br>
    <label for="weight">Enter the parcel weight</label>
    <input type="text" name="weight" class="form-control">
    <br>
    <label for="distance">Enter the parcel distance</label>
    <input type="text" name="distance" class="form-control">
    <br>
    <label for="speed">Fast Shipping Time</label>
    <input type="radio" id="speed1" name="speed" value="1">
    <br>
    <label for="speed">Standard Shipping Time</label>
    <input type="radio" id="speed2" name="speed" value="2">

  </div>
  <button type="submit" name="submit" class="btn btn-danger">Submit!</button>
</form>
